.App {
  text-align: center;
}

nav{
  display: flex;
  background: lightblue;
  justify-content: space-around;
  align-items: center;
}

.navlinks{
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  width: 40%;
}

/* Link{
  color: white;
} */
