.App {
  background: aquamarine;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.tweet{
  height: 300px;
  width: 300px;
  background: white;
  border: 2px solid black;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.red{
  color: red;
}



/* nav{
  display: flex;
  background: lightblue;
  justify-content: space-around;
  align-items: center;
}

.navlinks{
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  width: 40%;
} */

/* Link{
  color: white;
} */

